<% provide(:title, "About")%>
<!DOCTYPE html>

<head>
	
</head>

<body>
	<h1>Codeversiti</h1>
	<p>Learn to code. Collaborate to code. Earn from Coding. </p>
	
	<p> Codeversiti is the best online platform to learn how to code. Guess what?! It's 
		abosolutely free.</p>
		
	<h2>Learn to Code @ Codeversiti</h2>
	<p> Do you want to desire to earn six figures programming from the comfort of your
		home? Do you want to make extra money part-time? Choose from our collection 
		of programming courses. Sign up today and begin your journey to become a qualified 
		computer programmer. It's free!</p>
		
	<h2>Collaborate to Code @ Codeversiti</h2>
	<p> Do you have an idea for an app? Do youa team to work with you on a project? 
		Do you require support to startup your tech idea? Yes You can! @ Codeversiti. 
		Sign up today to collaborate and build. It's free!</p>
	
	<h2>Earn from Coding @ Codeversiti</h2>
	<p>Are you looking for freelance or Full Time employment opportunities? Do you 
		have the skills to code and want to earn from it? Sign up to receive a 
		certification badge and earn doing what you love. It free!</p>

</body>
