<%provide(:title, "Contact")%>
<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<h1>Codeversiti</h1>
		
		<p> For enquiries pls call 0700 CODEVERSITI</p>
		
		<p>Email us @ enq@codeversiti.com</p>
	</body>
</html>
