<% provide(:title, "Help")%>
<!DOCTYPE html>
<head>
	
</head>

<body>
	<h1>Codeversiti</h1>
	
	<p>Get help using Codeversiti simply email us @ help@codeversiti.com</p>
	
	<p>Learn to code. Collaborate to code. Earn from coding. </p>
	
	<p>Code lives here!</p>
</body>
