
<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<h1> Welcome to Codeversiti</h1>
		
		<p>Learn to code. Collaborate to code. Earn from coding. </p>
		
		<p>Are you an organisation looking to hire professional computer programmers.
			Lets helps you get the best</p>
			
		<p>Codeversiti is free for users and will remain free forever.</p>
		
		<p>Code lives here!</p>
	</body>
</html>
